.hero {
  height: 100%; /* full screen minus header */
  display: flex;
  align-items: center;
  justify-content: center;
  background:#f4f5f7;
  color: rgb(17, 17, 17);
  width: 100%;
 flex-direction: column;
}

.hero-content {
  text-align: center;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.hero-content p {
  margin-top: 1rem;
  font-size: 1.1rem;
  opacity: 0.85;
  align-items: center;
  justify-content: center;
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  
  
  justify-content: center;
}


.btn-outline {
  background: #9bcf0c;
  color: #faf9f9;
  border: 1px solid #9bcf0c;
  /* padding: 0.75rem 1.5rem; */
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
